# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3

# Virtual environments
venv/
env/
ENV/
.venv/
*.env

# Django
*.log
*.pot
*.pyc
*.pyo
media/
staticfiles/
*.mo

# Django migrations (optional, sometimes better to track)

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Secret key files
.env
